<%= content_for :h2, "Dashboard" %>
<%= link_to "New Product", products_new_path %>

<% content_for :navbar do %>
  <ul>
    <li>Ha</li>
    <li>He</li>
    <li>Hi</li>
    <li>Ho</li>
    <li>Hu</li>
  </ul>
<% end %>