<h1>Products#edit</h1>

<dl>
<dt>requests</dt> <dd> <%= debug @request_ko %> </dd>
<dt>params</dt> <dd> <%= debug @my_params %> </dd>
</dl>
<h2> Mag-edit ka naman! Pang ilan? </h2>
<p>Find me in app/views/products/new.html.erb</p>
